.box-main:before{
    content: "";
    position: absolute;
    background-image: url("../img/img-main.png");
    width: 1173px;
    height: 785px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    right: -360px;
    top: 0px;
    z-index: -1;
}
.img-main{
    display: block;
    position: absolute;
}
.img-cov1{
    width: 34px;
    height: 24px;
}
.img-cov2{
    width: 34px;
    height: 24px;
    padding: 186px 0 0;
}
.img-answer{
    width: 89px;
    height: 89px;
}
.img-circle{
   width: 82px;
    height: 82px;
}
.arrow-horizontal{
    width: 216px;
    height: 13px;
}
.arrow-vertical{
    display: none;
}
.img-sale{
    width: 24px;
    height: 24px;
    padding: 0 10px 0 0;
}
.img-ticket{
    width: 24px;
    height: 24px;
    padding: 0 8px 0 0;
}
.img-number{
    height: 86px;
    width: 60px;
    padding: 0 40px 0 0;
}
.div-complete:before{
    content: "";
    background-image: url("../img/complete.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    z-index: -1;
    position: absolute;
    width: 1678px;
    height: 528px;
    border-radius: 18px;
}
