@import "buttons.css";
@import "normalize.css";
@import "text style.css";
@import "img.css";
@import "accordion.css";
.container{
    position: relative;
    max-width: 1680px;
    margin: 0 auto;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header-left{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.box-login {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 20px 0 10px;
}
.box-main{
    max-width: 1016px;
    margin: 144px 0 80px;
}
.block-calc{
    display: flex;
    flex-direction: row;
    margin-bottom: 499px;
}
.header{

}
.section-first{

}
.section-second{
    background: #F0DFB4;
    padding: 86px 0 92px 0;
}
.section-third{

}
.box-second{
    display: flex;
    flex-direction: row;
}
.box-second-right{
    display: flex;
    flex-direction: row;
    max-width: 1067px;
}
.box-answer{
display: flex;
    flex-direction: column;
}
.box-answer-upper{
display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 82px 0 0 0;
}
.box-answer-down{
display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 82px 0 0 0;
}
.box-answer-text{
    display: flex;
    flex-direction: row;
}
.section-five{
    background: #F0DFB4;
    margin: 164px 0 0;
    padding: 50px 0;
}
.box-fourth{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.card{
    display: flex;
    flex-direction: column;
    max-width: 388px;
    background: #FAF8FA;
    box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    border-radius: 12px;
    padding: 24px 24px 32px;
    margin: 82px 0 272px;
}
.div-outline{
    padding: 16px 24px 18px;
    border: 1px solid #8358F3;
    box-sizing: border-box;
    border-radius: 12px;
    margin-bottom: 30px;
}
.box-cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 82px 0 0;
}
.card-left{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.card-right{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.card-heading{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px 32px 24px 36px;
    background: #FAF8FA;
    border-radius: 12px;
    margin: 0 0 40px;
    box-shadow: 10px 10px 15px -5px rgba(0, 0, 0, 0.1), 10px 10px 10px -5px rgba(0, 0, 0, 0.1);
}
.box-accordion{
    margin: 82px 0 0;
}
.div-complete{
   display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 500px 0 0 0;
}

